:root {
    /* --vp-c-brand-1: #10b981 */
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #747bff;
    --vp-font-family-base: "IBM Plex Sans", sans-serif;
    --vp-font-family-mono: "IBM Plex Mono", monospace;
}